<div class="container">
  <h4 class="text-center mt-5 mb-5">Welcome to Model Driven Form App</h4>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <h6 class="text-center mb-3 mt-3">Add Employee</h6>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  Please enter a username
                </div>
              </div>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  Please enter phone number
                </div>
              </div>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  Please enter Email
                </div>
              </div>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Passowrd" aria-label="Passowrd" aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  Please enter password
                </div>
              </div>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Retype Passowrd" aria-label="Retype Passowrd" aria-describedby="basic-addon1">
                <div class="invalid-feedback">
                  Please re enter password
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-sm float-right">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>